<launch>

    <!--    Load team parameters from a yaml file -->
    <rosparam command="load" file="$(find p_ekrzyszton_bringup)/params/game.yaml"/>

    <!--Bloco 1: argumentos do launch file.-->
    <arg name="model" default="$(env TURTLEBOT3_MODEL)" doc="model type [burger, waffle, waffle_pi]"/>
    <arg name="player_name" default="p_ekrzyszton"/>
    <arg name="player_color" default="Blue"/>
    <arg name="x_pos" default="0.0"/>
    <arg name="y_pos" default="-2.0"/>
    <arg name="z_pos" default="0.0"/>
    <arg name="visualize" default="false"/>
    <arg name="driver" default="false"/>
    <arg name="teleop" default="false"/>
    <arg name="debug" default="false"/>
    <arg name="gmapping" default="false"/>
    <arg name="navigation" default="false"/>
    <arg name="map_name" default="map_1"/>

    <group ns = "$(arg player_name)">
        <param name="tf_prefix" value="$(arg player_name)" />

        <!--Bloco 3: Carregamento do xacro do robot para o parâmetro robot_description.-->
        <!--        <param name="robot_description" command="$(find xacro)/xacro &#45;&#45;inorder $(find p_ekrzyszton_description)/urdf/p_ekrzyszton.urdf.xacro" />-->
        <param name="robot_description" command="$(find xacro)/xacro '$(find p_ekrzyszton_description)/urdf/p_ekrzyszton.urdf.xacro'
                                                    player_name:=$(arg player_name) player_color:=$(arg player_color)" />
        <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>

        <!--        Include the spawn.launch -->
        <include file="$(find p_ekrzyszton_bringup)/launch/spawn.launch">
            <arg name="player_name" value="$(arg player_name)"/>
            <arg name="x_pos" value="$(arg x_pos)"/>
            <arg name="y_pos" value="$(arg y_pos)"/>
            <arg name="z_pos" value="$(arg z_pos)"/>
        </include>

        <!--        Include the visualize.launch if we wish -->
        <group if="$(arg visualize)">
            <include file="$(find p_ekrzyszton_bringup)/launch/visualize.launch">
                <arg name="player_name" value="$(arg player_name)"/>
            </include>
        </group>
        <param name="debug" type="bool" value="$(arg debug)"/>
    </group>

    <!--    Launch driver node if we wish -->
    <group if="$(arg driver)">
        <node name="$(arg player_name)" pkg="p_ekrzyszton_player" type="driver.py" output="screen"/>
    </group>

    <!--    Launch teleop node if we wish -->
    <group if="$(arg teleop)">
        <include file="$(find p_ekrzyszton_bringup)/launch/teleop.launch">
            <arg name="player_name" value="$(arg player_name)"/>
        </include>
    </group>

    <!--    Launch SLAM node if we wish -->
    <group if="$(arg gmapping)">
        <include file="$(find p_ekrzyszton_bringup)/launch/gmapping.launch">
            <arg name="player_name" value="$(arg player_name)"/>
        </include>
    </group>

    <!--    Launch navigation node if we wish -->
    <group if="$(arg navigation)">
        <include file="$(find p_ekrzyszton_bringup)/launch/navigation.launch">
            <arg name="player_name" value="$(arg player_name)"/>
            <arg name="map_name" default="$(arg map_name)"/>
        </include>
    </group>

<!--    <node name="set_player_names" pkg="th_referee" type="set_player_names" output="screen"/>-->

</launch>
