<launch>
    <!--Bloco 2: Criação de um world om gazebo.-->
    <arg name="arena" default="th_arena_1"/>
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
<!--        WORDS DEFINED-->

<!--        <arg name="world_name" value="$(find turtlebot3_gazebo)/worlds/turtlebot3_house.world"/>-->
<!--        <arg name="world_name" value="$(find psr_fnr)/worlds/fnr.world"/>-->
        <arg name="world_name" value="$(find th_description)/worlds/$(arg arena).world"/>

        <arg name="paused" value="false"/>
        <arg name="use_sim_time" value="true"/>
        <arg name="gui" value="true"/>
        <arg name="headless" value="false"/>
        <arg name="debug" value="false"/>
    </include>
</launch>